<launch>

 
  <node name="trajectory_controller" pkg="lab1_pkg" type="start_joint_trajectory_action_server.py" />
  <include file="$(find baxter_moveit_config)/launch/baxter_grippers.launch"/> 

  
	<arg name="start_pos" default="[0.474, - 0.4 , 0.1]"/>
  <arg name="final_pos" default="[0.82, - 0.6 , 0.1]"/>
  <arg name="arm" default="right"/>

	<node name="hand_pub"
        pkg="lab1_pkg"
        type="hand_pub.py"
        output="screen">

    <param name="start_pos" value="$(arg start_pos)" />
    <param name="arm" value="$(arg arm)" /> 
    <param name="final_pos" value="$(arg final_pos)"/>
  </node> 
<!-- 
 

  <include file="$(find baxter_moveit_config)/launch/move_group.launch"/>   
   <include file="$(find lab1_pkg)/launch/baxter_left_hand_track.launch"/>
   <include file="$(find lab1_pkg)/launch/baxter_right_hand_track.launch"/>
   <node name="main" pkg="lab1_pkg" type="main.py" args="-ar 0 1 2 3 -a right -t square"/>
    <node name="tag_pub" pkg="lab1_pkg" type="tag_pub.py" args="-tags 3 5"/>

  -->
</launch>
