<launch>


   <include file="$(find lab1_pkg)/launch/baxter_right_hand_track.launch"/>
   <node name="tag_pub" pkg="lab1_pkg" type="tag_pub.py" args="-tags 3" />
   <node name="trajectory_controller" pkg="lab1_pkg" type="start_joint_trajectory_action_server.py" />
   <include file="$(find baxter_moveit_config)/launch/baxter_grippers.launch"/>

</launch>
